<% content_for :main do %>

  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'mdb.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style_landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'demo', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <%= render 'layouts/navbar' %>

  <!--Naked Form-->
  <div class="card-block">

    <!--Header-->
    <div class="text-xs-center">
      <br /><br /><br /><br /><h3>Create message:</h3>
      <hr class="m-t-2 m-b-2">
    </div>

    <!--Body-->
    <!--<p>We'll write rarely, but only the best content.</p>-->
    <br>

    <!--Body-->

    <%= form_for @message do |f| %>
    <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <!--<form action="/messages" method="post">-->
    <div class="md-form">
      <i class="fa fa-user prefix"></i>
      <%= f.text_field :name, id: "form3", class:"form-control"%>
      <%= f.label :name, type: "text", for:"form3" %>
      <!--<input type="text" id="form3" class="form-control">-->
      <!--<label for="form3">Your name</label>-->
    </div>

    <div class="md-form">
      <i class="fa fa-envelope prefix"></i>
      <%= f.text_field :email, id: "form2", class:"form-control"%>
      <%= f.label :email, type: "text", for:"form2" %>
      <!--<input type="text" id="form2" class="form-control">-->
      <!--<label for="form2">Your email</label>-->
    </div>

    <div class="md-form">
      <i class="fa fa-tag prefix"></i>
      <%= f.text_field :subject, id: "form32", class:"form-control"%>
      <%= f.label :subject, type: "text", for:"form34" %>
      <!--<input type="text" id="form32" class="form-control">-->
      <!--<label for="form34">Subject</label>-->
    </div>

    <div class="md-form">
      <i class="fa fa-pencil prefix"></i>
      <%= f.text_field :content, id: "form8", class:"md-textarea text-box-larger"%>
      <%= f.label :content, type: "text", for:"form3" %>
      <!--<textarea type="text" id="form8" class="md-textarea"></textarea>-->
      <!--<label for="form8">Icon Prefix</label>-->
    </div>

    <div class="text-xs-center">
      <%= f.submit 'Submit', class: 'btn btn-default', type: "submit" %>
      <!--<button class="btn btn-default" type="submit" >Submit</button>-->
    <%# end %>

      <div class="call">
        <br>
        <p>Or would you prefer to call?
          <br>
          <span><i class="fa fa-phone"> </i></span>(916)501-1220</p>
      </div>
    </div>
    <!--</form>-->
  <% end %>
  </div>
  <!--Naked Form-->

<%#= form_for @message do |f| %>
  <%# if @message.errors.any? %>
    <!--<div id="error_explanation">-->
      <!--<h2>-->
        <!--<%#= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>-->
      <!--</h2>-->

      <!--<ul>-->
        <!--<%# @message.errors.full_messages.each do |msg| %>-->
          <!--<li><%#= msg %></li>-->
        <!--<%# end %>-->
      <!--</ul>-->
    <!--</div>-->
  <!--<%# end %>-->

  <!--<div class="field">-->
    <!--<%#= f.label :name %>-->
    <!--<%#= f.text_field :name %>-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<%#= f.label :email %>-->
    <!--<%#= f.email_field :email %>-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<%#= f.label :subject %>-->
    <!--<%#= f.text_field :subject %>-->
  <!--</div>-->

  <!--<div class="field">-->
    <!--<%#= f.label :content %>-->
    <!--<%#= f.text_area :content %>-->
  <!--</div>-->

  <!--<div class="actions">-->
    <!--<%#= f.submit 'Send', class: 'button' %>-->
  <!--</div>-->
<%# end %>

<% end %>

<% content_for :javascript do %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'google_analytics', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mdb.min', 'data-turbolinks-track' => true %>

<% end %>