
<% content_for :heading do %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'mdb.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style_landing', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <!-- Bootstrap core CSS -->
  <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

  <!-- Material Design Bootstrap -->
  <!--<link href="css/mdb.min.scss" rel="stylesheet">-->

  <!-- Template styles -->
  <!--<link href="css/style_landing.scss" rel="stylesheet">-->

<% end %>

<% content_for :main do %>

  <!--Navbar-->
  <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
      <i class="fa fa-bars"></i>
    </button>

    <div class="container">

      <!--Collapse content-->
      <div class="collapse navbar-toggleable-xs" id="collapseEx">
        <!--Navbar Brand-->
        <a class="navbar-brand" href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">MDB</a>
        <!--Links-->
        <ul class="nav navbar-nav smooth-scroll">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#best-features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#examples-of-use">Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!--/.Collapse content-->

    </div>

  </nav>
  <!--/.Navbar-->

  <!--Mask-->
  <div class="view hm-black-strong" id="home">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="row">

          <!--First column-->
          <div class="col-lg-6">
            <div class="description">
              <h2 class="h2-responsive wow fadeInLeft">Landing Page </h2>
              <hr class="hr-dark">
              <p class="wow fadeInLeft" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</p>
              <br>
              <a class="btn btn-primary wow fadeInLeft" data-wow-delay="0.7s">Learn more</a>
            </div>
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-lg-6">
            <!--Form-->
            <div class="card wow fadeInRight">
              <div class="card-block">
                <!--Header-->
                <div class="text-xs-center">
                  <h3><i class="fa fa-user"></i> Register with:</h3>
                  <a href="" class="btn-floating btn-fb btn-small"><i class="fa fa-facebook"></i></a>
                  <a href="" class="btn-floating btn-tw btn-small"><i class="fa fa-twitter"></i></a>
                  <a href="" class="btn-floating btn-gplus btn-small"><i class="fa fa-google-plus"></i></a>
                  <a href="" class="btn-floating btn-li btn-small"><i class="fa fa-linkedin"></i></a>
                  <a href="" class="btn-floating btn-git btn-small"><i class="fa fa-github"></i></a>
                  <hr>
                  <h3>or:</h3>
                </div>

                <!--Body-->
                <div class="md-form">
                  <i class="fa fa-envelope prefix"></i>
                  <input type="text" id="form2" class="form-control">
                  <label for="form2">Your email</label>
                </div>

                <div class="md-form">
                  <i class="fa fa-lock prefix"></i>
                  <input type="password" id="form4" class="form-control">
                  <label for="form4">Repeat password</label>
                </div>

                <div class="text-xs-center">
                  <button class="btn btn-primary btn-lg">Sign up</button>
                  <hr>
                  <fieldset class="form-group">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1">Subscribe me to the newsletter</label>
                  </fieldset>
                </div>

              </div>
            </div>
            <!--/.Form-->
          </div>
          <!--/Second column-->
        </div>
      </div>
    </div>
  </div>
  <!--/.Mask-->
<div  id="best-features"></div><br/>
<!--Main container-->
<div class="container">

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeInDown">Professional Services</h2>
  </div>

  <!--Section: Best features-->
  <section>
    <div class="row">
      <!--First columnn-->
      <div class="col-md-4">
        <!--Card-->
        <div class="card wow fadeInUp">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <!--<img src="http://mdbootstrap.com/images/regular/city/img%20(2).jpg" class="img-fluid" alt="">-->
            <%= image_tag("color_gallery/10.jpg", alt: "", class: "img-fluid") %>
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
            <!--Title-->
            <h4 class="card-title">Extension & Color Specialist</h4>
            <hr>
            <!--Text-->
            <p class="card-text">send me text for this!</p>
            <a class="btn btn-primary" href="../pages/extension_color_gallery.html.erb">View Gallery</a>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--First columnn-->

      <!--Second columnn-->
      <div class="col-md-4">
        <!--Card-->
        <div class="card wow fadeInUp" data-wow-delay="0.05s">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <!--<img src="http://mdbootstrap.com/images/regular/city/img%20(4).jpg" class="img-fluid" alt="">-->
            <%= image_tag("home/card_2.jpg", alt: "", class: "img-fluid") %>
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
            <!--Title-->
            <h4 class="card-title">Wedding Day</h4>
            <hr>
            <!--Text-->
            <p class="card-text">Look and feel stunning on your big day!</p>
            <a class="btn btn-primary" href="../pages/wedding_gallery.html.erb">View Gallery</a>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--Second columnn-->

      <!--Third columnn-->
      <div class="col-md-4">
        <!--Card-->
        <div class="card wow fadeInUp" data-wow-delay="0.05s">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <!--<img src="http://mdbootstrap.com/images/regular/city/img%20(8).jpg" class="img-fluid" alt="">-->
            <%= image_tag("home/card_4.jpg", alt: "", class: "img-fluid") %>
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
            <!--Title-->
            <h4 class="card-title">Photoshoot Glam</h4>
            <hr>
            <!--Text-->
            <p class="card-text">Look amazing for every life event</p>
            <a class="btn btn-primary" href="../pages/photoshoot_gallery.html.erb">View Gallery</a>
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--Third columnn-->
    </div>
  </section>
  <!--/Section: Best features-->

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeInDown">Service Details</h2>
  </div>

  <!--Section: Additional features-->
  <section id="additional-features">
    <div class="row">
      <!--First columnn-->
      <div class="col-md-6">
        <!--Card-->
        <div class="card wow fadeIn">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <%= image_tag("home/img_details_1.jpg", alt: "", class: "img-fluid") %>
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
          </ul>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--First columnn-->

      <!--Second column-->
      <div class="col-md-6">
        <!--Card-->
        <div class="card wow fadeIn" data-wow-delay="0.05s">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <%= image_tag("home/img_details_2.jpg", alt: "", class: "img-fluid") %>
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
            <li class="list-group-item">
              <i class="fa fa-check pull-xs-right"></i> Send me text!
            </li>
          </ul>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--/Second column-->
    </div>
  </section>
  <!--/Section: Additional features-->

  <div class="divider-new" id="testimonials">
    <h2 class="h2-responsive wow fadeInDown">Testimonials</h2>
  </div>

  <!--Section: Testimonials-->
  <section>
    <div class="row">
      <!--Carousel Wrapper-->
      <div id="multi-item-example" class="carousel slide carousel-multi-item wow fadeIn" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top">
          <a class="btn-floating btn-small mdb-color" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating btn-small mdb-color" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">

            <div class="col-md-4">
              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up green lighten-1">
                </div>

                <!--Avatar-->
                <div class="avatar"><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-1.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>

              </div>
              <!--/.Card-->
            </div>

            <div class="col-md-4 hidden-sm-down">
              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up green darken-2">
                </div>

                <!--Avatar-->
                <div class="avatar"><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-2.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>

              </div>
              <!--/.Card-->
            </div>

            <div class="col-md-4 hidden-sm-down">
              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up  green darken-4">
                </div>

                <!--Avatar-->
                <div class="avatar"><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-3.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>

              </div>
              <!--/.Card-->
            </div>

          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="carousel-item">

            <div class="col-md-4">
              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up blue lighten-1">
                </div>

                <!--Avatar-->
                <div class="avatar"><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-1.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>

              </div>
              <!--/.Card-->
            </div>

            <div class="col-md-4 hidden-sm-down">
              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up blue darken-2">
                </div>

                <!--Avatar-->
                <div class="avatar"><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-2.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>

              </div>
              <!--/.Card-->
            </div>

            <div class="col-md-4 hidden-sm-down">
              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up blue darken-4">
                </div>

                <!--Avatar-->
                <div class="avatar"><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-3.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>

              </div>
              <!--/.Card-->
            </div>

          </div>
          <!--/.Second slide-->

          <!--Third slide-->
          <div class="carousel-item">

            <div class="col-md-4">
              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up indigo lighten-1">
                </div>

                <!--Avatar-->
                <div class="avatar"><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-3.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>

              </div>
              <!--/.Card-->
            </div>

            <div class="col-md-4 hidden-sm-down">
              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up indigo darken-1">
                </div>

                <!--Avatar-->
                <div class="avatar"><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-1.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>

              </div>
              <!--/.Card-->
            </div>

            <div class="col-md-4 hidden-sm-down">
              <!--Card-->
              <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up indigo darken-4">
                </div>

                <!--Avatar-->
                <div class="avatar"><img src="http://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-2.jpg" class="img-circle img-responsive">
                </div>

                <div class="card-block">
                  <!--Name-->
                  <h4 class="card-title">Anna Doe</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
                </div>

              </div>
              <!--/.Card-->
            </div>

          </div>
          <!--/.Third slide-->

        </div>
        <!--/.Slides-->

      </div>
      <!--/.Carousel Wrapper-->
    </div>
  </section>
  <!--/Section: Testimonials-->

  <div class="divider-new" id="pricing">
    <h2 class="h2-responsive wow fadeInDown">Pricing</h2>
  </div>

  <!--Section: Pricing-->
  <section>
    <div class="row">

      <!--First column-->
      <div class="col-md-4">

        <!--Pricing card-->
        <div class="card pricing-card wow fadeInUp">
          <!--Price-->
          <div class="price blue">
            <h1>10</h1>
            <div class="version">
              <h5>Basic</h5>
            </div>
          </div>
          <!--/.Price-->

          <!--Features-->
          <div class="card-block">
            <ul>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-times"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-times"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-times"></i> Feature name</p>
              </li>
            </ul>

            <button class="btn btn-primary">Buy now</button>
          </div>
          <!--/.Features-->

        </div>
        <!--/.Pricing card-->

      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-4">

        <!--Pricing card-->
        <div class="card pricing-card wow fadeInUp" data-wow-delay="0.2s">
          <!--Price-->
          <div class="price indigo">
            <h1>20</h1>
            <div class="version">
              <h5>Pro</h5>
            </div>
          </div>
          <!--/.Price-->

          <!--Features-->
          <div class="card-block">
            <ul>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-times"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-times"></i> Feature name</p>
              </li>
            </ul>

            <button class="btn btn-primary">Buy now</button>
          </div>
          <!--/.Features-->

        </div>
        <!--/.Pricing card-->

      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-4">

        <!--Pricing card-->
        <div class="card pricing-card wow fadeInUp" data-wow-delay="0.4s">
          <!--Price-->
          <div class="price deep-purple">
            <h1>30</h1>
            <div class="version">
              <h5>Enterprise</h5>
            </div>
          </div>
          <!--/.Price-->

          <!--Features-->
          <div class="card-block">
            <ul>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
              <li>
                <p><i class="fa fa-check"></i> Feature name</p>
              </li>
            </ul>

            <button class="btn btn-primary">Buy now</button>
          </div>
          <!--/.Features-->

        </div>
        <!--/.Pricing card-->

      </div>
      <!--/.Third column-->

    </div>
  </section>
  <!--/Section: Pricing-->

  <div class="divider-new" id="contact">
    <h2 class="h2-responsive">Contact</h2>
  </div>

  <!--Section: Contact-->
  <section>
    <div class="row">


      <!--Second column-->
      <div class="col-md-4">
        <ul class="text-xs-center">
          <li class="wow fadeInUp" data-wow-delay="0.1s"><strong>Let's chat!</strong><br><a class="btn-floating btn-small mdb-color" href="tel:9165011220" ><i class="fa fa-phone" ></i></a>
            <p>(916)501-1220</p>
          </li>

          <li class="wow fadeInUp" data-wow-delay="0.1s"><br/><strong>Location</strong><br><a class="btn-floating btn-small mdb-color" href="https://maps.google.com/?daddr=404+Camino+del+Rio+Studio+5,+San Diego,+CA+92108" target="_blank"><i class="fa fa-map-marker"></i></a>
          <p>404 Camino Del Rio South<br/>Suite 100 Studio 5<br/>San Diego, CA 92108</p>
          </li>

          <li class="wow fadeInUp" data-wow-delay="0.1s"><br><strong>Tap to email</strong><br><a class="btn-floating btn-small mdb-color" href="mailto:sdhairstylist@gmail.com" ><i class="fa fa-envelope" ></i></a>
            <p>sdhairstylist@gmail.com</p>
          </li>

        </ul>
      <!--/Second column-->
      </div>

      <!--Second column-->
      <div class="col-md-8">
        <div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 500px"></div>
      </div>
      <!--/Second column-->
    </div>
  </section>
  <!--Section: Contact-->

</div>
<!--/Main container-->

<!--Footer-->
<footer class="page-footer center-on-small-only">

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2016 Casey Carr

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->


<!-- SCRIPTS -->

<!-- JQuery -->
<!--<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>-->

<!-- Bootstrap tooltips -->
<!--<script type="text/javascript" src="js/tether.min.js"></script>-->

<!-- Bootstrap core JavaScript -->
<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->

<!-- MDB core JavaScript -->
<!--<script type="text/javascript" src="js/mdb.min.js"></script>-->

<!--Google Maps-->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDgQUvSuWkwR8reDeAL828uiNc77Mi5FVE"></script>

<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'google_analytics', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mdb.min', 'data-turbolinks-track' => true %>

  <script>
    function init_map() {

      var var_location = new google.maps.LatLng(32.761121, -117.162122);

      var var_mapoptions = {
        center: var_location,

        zoom: 14
      };

      var var_marker = new google.maps.Marker({
        position: var_location,
        map: var_map,
        title: "New York"
      });

      var var_map = new google.maps.Map(document.getElementById("map-container"),
          var_mapoptions);

      var_marker.setMap(var_map);

    }

    google.maps.event.addDomListener(window, 'load', init_map);
  </script>

  <!-- Animations init-->
  <script>
    new WOW().init();
  </script>

<% end %>
<!--</html>-->