<div class="container">
  <div class="row">
    <h3>Users</h3>
    <p class="logged_in">Logged In As: <%= link_to current_user.email, edit_user_registration_path %> <span style="float:right;"><%= link_to "Sign out", logout_path, :method => :delete %></span></p>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>