
<% content_for :heading do %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'mdb.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style_landing', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag 'demo', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'elastislide', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Bootstrap core CSS -->
  <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

  <!-- Material Design Bootstrap -->
  <!--<link href="css/mdb.min.css.scss" rel="stylesheet">-->

  <!-- Template styles -->
  <!--<link href="css/style_landing.scss" rel="stylesheet">-->

<% end %>

<% content_for :main do %>


<%= render 'layouts/navbar' %>

  <div class="divider-new">
    <br /><br /><br /><br /><h2 class="h2-responsive wow fadeInDown">SERVICE MENU</h2>
  </div>

  <!--Section: Examples of use-->
  <!--<section id="examples-of-use">-->
    <!--<div class="row">-->
      <!--First column-->
      <div class="col-md-12 wow fadeIn">
        <!--Jumbotron-->
        <div class="jumbotron"><br />
          <p class="lead">BASIC COLOR</p>
          <p class="menu-center">65 Retouch</p>
          <p class="menu-center">90 All Over Color</p>
          <p class="menu-center">140 Color & Highlight</p><br/>

          <p class="lead">HIGHLIGHTS</p>
          <p class="menu-center">90 Partial (25 foils or less)</p>
          <p class="menu-center">125 Full Highlight (ears up)</p>
          <p class="menu-center">150 Double Full Foil (nape to top)</p><br/>

          <p class="lead">HAIRCUTS</p>
          <p class="menu-center">50 Haircut & Finish</p>
          <p class="menu-center">40 Haircut with any chemical service</p><br/>

          <p class="lead">LUXURY LIST</p>
          <p class="menu-center">25 Deep Conditioning Treatment</p>
          <p class="menu-center">35 Shines Overlay or Toner</p>
          <p class="menu-center">150-200 Beox Keratin Treatment</p>
          <p class="menu-center">150-200 Brazilian Blowout</p><br/>

          <p class="lead">BLOW OUTS</p>
          <p class="menu-center">40 Basic Blow Out</p>
          <p class="menu-center">65 & up upstyle </p>
          <p class="menu-center">*Inquire about the blow out membership to receive best value</p><br/>

          <p class="lead">EXTENSIONS</p>
          <!--<p class="menu-center"></p><br/>-->
          <div><a class="btn btn-primary center-image-lrg" href="../messages/new">Inquire for full consultation & pricing</a></div>
          <br />
          <p class="lead">PHOTO SHOOT/FREELANCE</p>
          <!--<p class="menu-center">**Please inquire for pricing</p><br/>-->
          <div><a class="btn btn-primary center-image" href="../messages/new">Please Inquire for pricing</a></div>

        </div>
        <!--/.Jumbotron-->

        <!--<hr>-->
        <!--<p class="wow fadeInLeft" data-wow-delay="0.1s">I feel so blessed to love what I do and be a part of the Salon for Women family. I truly love and am passionate about connecting with my guests and making them feel beautiful on the inside and out!</p>-->
        <!--<p class="wow fadeInLeft" data-wow-delay="0.1s">"Love of beauty is taste. The creation of is beauty is art." - Ralph Waldo Emerson</p><br>-->
      </div>
      <!--/First column-->



  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid menu-center">
      © 2016 Casey Carr

    </div>
  </div>
  <!--/.Copyright-->

<!--</footer>-->
<!--/.Footer-->


<!-- SCRIPTS -->

<!-- JQuery -->
<!--<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>-->

<!-- Bootstrap tooltips -->
<!--<script type="text/javascript" src="js/tether.min.js"></script>-->

<!-- Bootstrap core JavaScript -->
<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->

<!-- MDB core JavaScript -->
<!--<script type="text/javascript" src="js/mdb.min.js"></script>-->

<!--Google Maps-->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDgQUvSuWkwR8reDeAL828uiNc77Mi5FVE"></script>

<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'google_analytics', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mdb.min', 'data-turbolinks-track' => true %>

  <script>
    function init_map() {

      var var_location = new google.maps.LatLng(32.761121, -117.162122);

      var var_mapoptions = {
        center: var_location,

        zoom: 14
      };

      var var_marker = new google.maps.Marker({
        position: var_location,
        map: var_map,
        title: "New York"
      });

      var var_map = new google.maps.Map(document.getElementById("map-container"),
          var_mapoptions);

      var_marker.setMap(var_map);

    }

    google.maps.event.addDomListener(window, 'load', init_map);
  </script>

  <!-- Animations init-->
  <script>
    new WOW().init();
  </script>

<% end %>
<!--</html>-->