<% content_for :title do %>
  "Casey Carr - Color Image Gallery"
<% end %>
<% content_for :heading do %>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
      <!--<meta name="description" content="Responsive Image Gallery with jQuery" />-->
      <!--<meta name="keywords" content="jquery, carousel, image gallery, slider, responsive, flexible, fluid, resize, css3" />-->
      <!--<meta name="author" content="Codrops" />-->
      <!--<link rel="shortcut icon" href="../favicon.ico">-->
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'mdb.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style_landing', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag 'demo', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'elastislide', media: 'all', 'data-turbolinks-track' => true %>
      <!--<link rel="stylesheet" type="text/css" href="../../../app/assets/stylesheets/demo.css" />-->
      <!--<link rel="stylesheet" type="text/css" href="../../../app/assets/stylesheets/style.css" />-->
      <!--<link rel="stylesheet" type="text/css" href="../../../app/assets/stylesheets/elastislide.css" />-->
      <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
      <noscript>
        <style>
          .es-carousel ul{
            display:block;
          }
        </style>
      </noscript>
      <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
      <div><a class="btn btn-primary center-image" href="https://www.instagram.com/caseycarr/">See more on Instagram!</a></div>
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>
<% end %>
<% content_for :main do %>

<%= render 'layouts/navbar' %>

    <div class="container">
      <!--<div class="header">-->
        <!--<a href="javascript:history.back()"><span><<   Back to home</span></a>-->
				<!--<span class="right_ab">-->
					<!--<a href="https://www.flickr.com/photos/smanography/" target="_blank">Images by Shermeee</a>-->
					<!--<a href="https://creativecommons.org/licenses/by/2.0/deed.en_GB">CC BY 2.0</a>-->
					<!--<a href="https://tympanus.net/codrops/2011/09/20/responsive-image-gallery/"><strong>back to the Codrops post</strong></a>-->
				<!--</span>-->
        <!--<div class="clr"></div>-->
      <!--</div>&lt;!&ndash; header &ndash;&gt;-->

      <div class="content">
        <h1> <span id="bring-front">Wedding Gallery</span></h1>
        <div id="rg-gallery" class="rg-gallery">
          <div class="rg-thumbs">
            <!-- Elastislide Carousel Thumbnail Viewer -->
            <div class="es-carousel-wrapper">
              <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
              </div>
              <div class="es-carousel">
                <ul>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/1.jpg", alt: "image01", data: { large: asset_path('wedding_gallery/1.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/2.jpg", alt: "image02", data: { large: asset_path('wedding_gallery/2.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/3.jpg", alt: "image03", data: { large: asset_path('wedding_gallery/3.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/4.jpg", alt: "image04", data: { large: asset_path('wedding_gallery/4.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/5.jpg", alt: "image05", data: { large: asset_path('wedding_gallery/5.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/6.jpg", alt: "image06", data: { large: asset_path('wedding_gallery/6.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/7.jpg", alt: "image07", data: { large: asset_path('wedding_gallery/7.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/8.jpg", alt: "image08", data: { large: asset_path('wedding_gallery/8.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/9.jpg", alt: "image09", data: { large: asset_path('wedding_gallery/9.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/10.JPG", alt: "image10", data: { large: asset_path('wedding_gallery/10.JPG'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/11.JPG", alt: "image11", data: { large: asset_path('wedding_gallery/11.JPG'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/12.jpg", alt: "image12", data: { large: asset_path('wedding_gallery/12.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/13.jpg", alt: "image13", data: { large: asset_path('wedding_gallery/13.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/14.jpg", alt: "image14", data: { large: asset_path('wedding_gallery/14.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/15.jpg", alt: "image15", data: { large: asset_path('wedding_gallery/15.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/16.jpg", alt: "image16", data: { large: asset_path('wedding_gallery/16.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/17.jpg", alt: "image17", data: { large: asset_path('wedding_gallery/17.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/18.jpg", alt: "image18", data: { large: asset_path('wedding_gallery/18.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/19.jpg", alt: "image19", data: { large: asset_path('wedding_gallery/19.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/20.jpg", alt: "image20", data: { large: asset_path('wedding_gallery/20.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/21.jpg", alt: "image21", data: { large: asset_path('wedding_gallery/21.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/22.jpg", alt: "image22", data: { large: asset_path('wedding_gallery/22.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/23.jpg", alt: "image23", data: { large: asset_path('wedding_gallery/23.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/24.jpg", alt: "image24", data: { large: asset_path('wedding_gallery/24.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/25.jpg", alt: "image25", data: { large: asset_path('wedding_gallery/25.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/26.jpg", alt: "image26", data: { large: asset_path('wedding_gallery/26.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/27.JPG", alt: "image27", data: { large: asset_path('wedding_gallery/27.JPG'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/28.png", alt: "image28", data: { large: asset_path('wedding_gallery/28.png'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/29.jpg", alt: "image29", data: { large: asset_path('wedding_gallery/29.jpg'), description: ""}) %></a></li>
                  <li><a href="#"><%= image_tag("wedding_gallery/thumbs/30.jpg", alt: "image30", data: { large: asset_path('wedding_gallery/30.jpg'), description: ""}) %></a></li>
                </ul>
              </div>
            </div>
            <!-- End Elastislide Carousel Thumbnail Viewer -->
          </div><!-- rg-thumbs -->
        </div><!-- rg-gallery -->
        <a href="javascript:history.back()"><span id="back"><br><<   Back to home</span></a><br><br>
      </div><!-- content -->
    </div><!-- container -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'google_analytics', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mdb.min', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery.tmpl.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.easing.1.3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.elastislide', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'gallery', 'data-turbolinks-track' => true %>
    <!--<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery.elastislide.js"></script>-->
    <!--<script type="text/javascript" src="js/gallery.js"></script>-->
<% end %>