@import url('reset.scss');

/* General Codrops Demo Style */
body{
	background:#FFFFFF asset_data_url('color_gallery/icons/pattern.png') repeat top left;
	color:#000;
	//font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-family: 'Handlee', cursive;
	font-size:14px;
}
a{
	color:#ddd;
	text-decoration:none;
}
a:hover{
	color:#00c6e3;
}
p.sub{
	padding:25px 10px 10px 10px;
	text-align:left;
	color:#aaa;
}
.clr{
	clear:both;
}
.navbar{
  background-color: #1C2331;
  //z-index:-5;
}
h1{
	margin:0px;
	font-size:24px;
	text-align:center;
	color:#FFFFFF;
	//font-family:"Pacifico", Georgia, "Times New Roman", serif;
  font-family: 'Handlee', cursive;
	text-shadow:1px 1px 1px #000;
	padding-bottom:10px;
	line-height:40px;
}
#bring-front {
  margin:0px;
  font-size:24px;
  text-align:center;
  color:#000000;
  //font-family:"Pacifico", Georgia, "Times New Roman", serif;
  font-family: 'Handlee', cursive;
  text-shadow:1px 1px 1px #CCCCCC;
  padding-top:60px;
  line-height:40px;
}
h1 span{
  margin-left:0px;
  margin-right:0px;
	font-size:14px;
	display:block;
	letter-spacing:2px;
  //font-family:"Pacifico", Georgia, "Times New Roman", serif;
  font-family: 'Handlee', cursive;
  text-shadow:1px 1px 1px #CCCCCC;
	color:#00c6e3;
	line-height:14px;
	padding-top:30px;
}
/* Header Style */
.header{
	font-size:13px;
	background:#FFFFFF;
	opacity:0.9;
	text-transform:uppercase;
	-moz-box-shadow: 1px 0px 2px #FFFFFF;
	-webkit-box-shadow: 1px 0px 2px #FFFFFF;
	box-shadow: 1px 0px 2px #FFFFFF;
}
.header a{
	line-height:18px;
	padding:0 4px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #FFFFFF;
	color:#ddd;
}
.header a:hover{
	color:#000;
}
.header a span{
	font-weight:bold;
}
.header span.right_ab{
	float:right;
}
.content{
	margin:0px 0px 0px 0px;
}
#back {
  color:#00c6e3;
  font-size:18px;
}
.center-image-lrg{
  margin: 0 auto; /* centers, provided there's a width set */
  margin-bottom: 10px !important;
  margin-top: 0px !important;
  display: block;
  width: 250px; /* width set */
  text-align:center;
}
.center-image{
  margin: 0 auto; /* centers, provided there's a width set */
  margin-bottom: 10px !important;
  margin-top: 0px !important;
  display: block;
  width: 200px; /* width set */
  text-align:center;
}
.lead{
  text-align: center;
}
.menu-center{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.jumbotron{
  margin-top: 0px;
  padding-top: 0px;
}
.divider-new{
  margin-bottom: 0px;
}

@media screen and (max-width: 640px) {
	.header a{
		display:block;
		text-align:center;
		font-size:10px;
		text-shadow:none;
	}
	.header span.right_ab{
		float:none;
	}
  h1{
    margin-left: 0px;
    margin-right: 0px;
    margin-top:50px;
    font-size:24px;
    text-align:center;
    color:#000;
    //font-family:"Pacifico", Georgia, "Times New Roman", serif;
    font-family: 'Handlee', cursive;
    text-shadow:1px 1px 1px #fff;
    padding-bottom:10px;
    line-height:40px;
  }
  .navbar{
    background-color: #1C2331;
    z-index: 5;
  }
  #bring-front {
  margin:0px;
  font-size:22px;
  text-align:center;
  color:#000000;
  //font-family:"Pacifico", Georgia, "Times New Roman", serif;
  font-family: 'Handlee', cursive;
  text-shadow:1px 1px 1px #CCCCCC;
  padding-top:10px;
  line-height:40px;
}
}