<!--Navbar-->
<nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

  <!-- Collapse button-->
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
    <i class="fa fa-bars"></i>
  </button>

  <div class="container">

    <!--Collapse content-->
    <div class="collapse navbar-toggleable-xs" id="collapseEx">
      <!--Navbar Brand-->
      <a class="navbar-brand" href="/">Home</a>
      <!--Links-->
      <!--<ul class="nav navbar-nav smooth-scroll"> TODO: USE SMOOTH-SCROLL TO SCROLL ON PAGE-->
      <ul class="nav navbar-nav">
        <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link" href="../pages/service_menu.html.erb">Service Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../messages/new">Contact</a>
        </li>
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#testimonials">Photoshoot Glam</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#pricing">Pricing</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#contact">Contact</a>-->
        <!--</li>-->
      </ul>
    </div>
    <!--/.Collapse content-->

  </div>

</nav>
<!--/.Navbar-->
