<%## add navigation links to this file %>
<!--<li>-->
    <!--<%#= link_to 'Home', root_path %>-->
<!--</li>-->
<!--<li>-->
    <!--<%#= link_to 'About', page_path('about') %>-->
<!--</li>-->
<!--<li>-->
    <!--<%#= link_to 'Blog', page_path('blog') %>-->
<!--</li>-->
<!--<li>-->
    <!--<%#= link_to 'Contact', page_path('contact') %>-->
<!--</li>-->
